<h1>STUDENT TABLE</h1>
<mat-form-field class="form" appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="filterResults(filter.value, paginator.pageIndex, paginator.pageSize, sortField, sortDirection)" placeholder="Id, name, surname or group" #filter>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="id-column"> ID </th>
      <td mat-cell *matCellDef="let student" class="id-column"> {{student.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-column"> Name </th>
      <td mat-cell *matCellDef="let student" class="name-column"> {{student.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="surname-column"> Surname </th>
      <td mat-cell *matCellDef="let student" class="surname-column"> {{student.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="group-column"> Group </th>
      <td mat-cell *matCellDef="let student" class="group-column"> {{student.group}} </td>
    </ng-container>

    <ng-container matColumnDef="functions">
      <th mat-header-cell *matHeaderCellDef class="actions-column"></th>
      <td mat-cell *matCellDef="let student" class="actions-column">
        <button mat-button color="error" (click)="deleteStudent(student)">X</button>
        <button mat-button color="primary" (click)="editStudent(student)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
<br>
<button mat-raised-button color="primary" (click)="addNewStudent()">ADD STUDENT</button>
