table {
  width: 100%;
  table-layout: fixed; /* добавьте это правило */
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-surname {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-group {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-functions {
  //width: 22px;
  text-align: justify;
}

.mat-button {
  font-weight: bold;
}

h1 {
  text-align: center;
  font: 1em sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

input::placeholder {
  font-weight: bold;
  font: 1em sans-serif;
  opacity: 0.5;
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: right;
  width: 120px;
  padding-right: 24px;
  padding-top: 24px;
}
